Options +FollowSymLinks -Indexes
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

# Simple File List Access Restricter
# If NOT the current host
RewriteCond %{HTTP_HOST}@@%{HTTP_REFERER} !^([^@]*)@@https?://\1/.*

# Deny access to these types
RewriteRule \.(gif|txt|js|java|py|c|jpg|jpeg|png|pdf|wav|wmv|wma|avi|mov|mp4|mp3|zip|rar|7z?)$ - [F]