/* ---------
	REGISTER
------------ */

#register legend, label, span {
	font-family: sans-serif;
	font-size:13px;
}

#register form {
	width:550px;
	margin: 12% auto;
}
#register fieldset {
	background-color : #fffae9;
	border:1px solid #eedb9b;
}
#register table {
	margin : 0 auto;
}

#register table td {
	text-align:right;
	padding-top:10px;
}
#register label .inline {
	display:inline;
}

#register legend {
	font-weight:700;
	text-transform:uppercase;
}

#register form input[type=submit] {
	margin : 10px 44%;
	border-radius:4px;
	padding:5px;
	background-color:#fffae9;
	border:1px solid #eedb9b;
}
#register form input[type=submit]:hover {
 background-color:#f7eac0;
}

/* ---------
	LOGIN
--------- */

#login legend, label {
	font-family: sans-serif;
	font-size:13px;
}

#login form {
	width:450px;
	margin: 12% auto;
}
#login fieldset {
	background-color : #fffae9;
	border:1px solid #eedb9b;
	text-align:center;
}

#login legend {
	font-weight:700;
	text-transform:uppercase;
}

#login form input[type=submit] {
	margin : 10px 44%;
	border-radius:4px;
	padding:5px;
	background-color:#fffae9;
	border:1px solid #eedb9b;
}

#login form input[type=submit]:hover {
	background-color:#f7eac0;
}

/* ---------
   SEARCHBAR
------------- */
#searchBar form input[type=search], #searchBar form button[type=submit] {
	padding: 6px;
	/* border: none; */
	margin-top: 8px;
	font-size: 15px;
}