@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
/* ---------
	ALL
------------ */
p{
	color:white;
}

/* ---------
	LOGO
------------ */
#logo{
	margin:0 auto;
	margin-left: 47%;
	height : 120px;
}

#logoDisconnect{
	margin-left:33%;
	top : 50px;
	position : absolute;
	height : 120px;
}

#logoConnect{
	margin-left:35px;
	top:0px;
	position : absolute;
	height : 50px;
	z-index:20;
}

/* ---------
	BODY
------------ */
.styleBody{
	background-color : #2b2142;
	height : 100vh;
	margin:0;
	font-family: sans-serif;
}

/* ------------------
	REGISTER & SHARE
--------------------- */
#register{
	background-color : #2b2142;
	height : 100vh;
}

#register legend, label, span {
	font-family: sans-serif;
	font-size:13px;
	color:white;
}

#register form {
	width:550px;
	margin: 0 auto;
	position:relative;
	top : 300px;
}
#register fieldset {
	background-color : rgb(139, 119, 155);
	border:1px solid black;
}
#register table {
	margin : 0 auto;
}

#register table td {
	text-align:right;
	padding-top:10px;
}

#register label .inline {
	display:inline;
}

#register legend {
	font-weight:700;
	text-transform:uppercase;
}

#register form input[type=submit] {
	margin : 10px 44%;
	border-radius:4px;
	padding:5px;
	background-color:rgb(139, 119, 155);;
	border:1px solid white;
	color:white;
}
#register form input[type=submit]:hover {
 background-color: rgb(103, 89, 116);
}

/* -----------------------
	LOGIN & DELETE 
--------------------------- */


#login legend, label, #delete legend, label{
	font-family: sans-serif;
	font-size:13px;
}
#login a, #delete a{
	color:white;
	text-decoration: none;
	font-size:13px;
	font-family: sans-serif;
}

#login form, #delete form{
	width:450px;
	margin: 0 auto;
	position : relative;
	top:300px;
}
#login fieldset, #delete fieldset{
	background-color : rgb(139, 119, 155);
	border:1px solid white;
	text-align:center;
	color:white;
}

#login legend, #delete legend {
	font-weight:700;
	text-transform:uppercase;
}

#login form input[type=submit], #delete form input[type=submit]  {
	margin : 10px 44%;
	border-radius:4px;
	padding:5px;
	background-color:rgb(139, 119, 155);
	border:1px solid white;
	color:white;
}

#login form input[type=submit]:hover, #delete form input[type=submit]:hover  {
	background-color:rgb(103, 89, 116);
}

/* ---------
   SEARCHBAR
------------- */
#searchBar form input[type=search], #searchBar form button[type=submit] {
	padding: 6px;
	margin-top: 8px;
	font-size: 15px;
	background-color: thistle;
}
#searchBar form button[type=submit]:hover  {
	background-color:rgb(245, 225, 237);
}
#searchBar {
	position:absolute;
	right:30px;
	top:0;
}

/* ---------
     HOME
------------- */
#home {
	background-color : #2b2142;
	margin : 0 auto;
}
#home h1{
	color: white;
	text-align: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size : 100px;
}
#home p{
	color: white;
	text-align: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size:25px;
}

#home .button a{
	text-decoration :none;
	color : white;
	text-align: center;
}
#home .button{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	margin: 50px;
	padding:10px;
	font-size:25px;
	border:solid 1px white;
	border-radius:4px;
	background-color: rgb(139, 119, 155);
}
#home .containerChild{
	text-align:center;
}
#home #container{
	padding-top: 100px;
}
/* ----------
   	 MENU
------------- */

nav{
	width: 100%;
	top: 0px;
	position : fixed;
}

#menu ul {
	 padding: 0;
	 margin:0;
     list-style-type:none;
	 text-align:center;
}

#menu li {
    margin-bottom: 0.2em;
    display: inline-block;
    background-color: rgb(139, 119, 155);
	width: 19%;
}

#menu li ul {
    width: 100%;
    margin-top: 0;
    position: absolute;
}

#menu li a {
	padding:12px;
	display:block;
	color: white;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size : 20px;
	text-decoration : none;
}

#menu li a:hover{
    transition: background-color 0.5s;
}

#menu li a:hover, #menu li:active{
    background-color: rgb(99, 86, 110);
}

#menu ul li ul li{
	display: none;
}

#menu ul li:hover ul li{
    display: table;
    margin: 0;
}

/* ----------
   	 MYFILES
------------- */
#myFiles thead th {
	font-family: sans-serif;
	font-size:20px;
	color:white;
	text-align:left
}
#myFiles thead tr {
	background-color: #8a6183;
	font-size:13px;
	text-transform: uppercase;
	font-weight: bold;
	color : white;
}

#myFiles .titleHeader {
	background-color: transparent;
    text-align: center;
}

#myFiles th, #myFiles td {
    padding: 12px 15px;
}

#myFiles table {
	border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 80%;
	margin:0 auto;
	margin-top : 100px;
}

#myFiles tbody tr td {
	color:white;
	text-align:left;
	background-color: #9b8698;
}

#myFiles tbody tr:hover {
	background-color:#8a6183;
	opacity:0.8;
}

#myFiles a {
	font-weight:bold;
	color:white;
	text-decoration: none;
}

#myFiles p {
	margin-top:150px;
	padding-left:40px;
}

#myFiles #iconEdit{
	height:50px;
	text-align:center;
}

#myFiles #iconDownload{
	height:20px;
	text-align:center;
	margin-left:30px;
}

#myFiles #iconDelete{
	height:30px;
	text-align:center;
	margin-left:15px;
	cursor:pointer;
}


/* ------------
   	EDIT FILES
--------------- */
#editFile h1{
	color: white;
	margin-top:150px;
}

#editFile {
	margin-left:50px;
}

#editFile input[type=submit]{
	margin : 10px;
	border-radius:4px;
	padding:5px;
	background-color:rgb(139, 119, 155);
	border:1px solid white;
	color:white;
}

#editFile input[type=submit]:hover{
	background-color:rgb(103, 89, 116);
}